{% raw %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{{cookiecutter.project_name}}</title>
	<link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

	{% block ext_styles %}
  	{% endblock ext_styles %}
</head>
<body>

	{% block navbar %}
  	{% endblock navbar %}

	<section style="min-height: 100vh;">
    {% block content %}
    {% endblock content %}
  	</section>
  	
  	{% block footer %}
  	{% endblock footer %}
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    {% block ext_scripts %}
  	{% endblock ext_scripts %}

</body>
</html>

{% endraw %}