{% raw %}{% extends "admin/base.html" %}{% load i18n %}{% endraw %}

{% raw %}{% block title %}{{ title }} | {% trans {% endraw %} '{{cookiecutter.project_name}} Admin'{% raw %} %} {% endblock %}

{% block branding %}
{% endraw %}
<style type="text/css">
  #header
  {
    background: #24292e;
    color: #FFFFFF;
  }
  #site-name{
  color: #FFFFFF;
  }
  #branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #FFFFFF;
}
</style>
<h1 id="site-name">{% raw %}{% trans {% endraw %}'{{cookiecutter.project_name}} Admin' {% raw %} %} {% endraw %}</h1>

{% raw %}
{% endblock %}{% block nav-global %}{% endblock %}
{% endraw %}